 body {
        font-family: Arial, Helvetica, sans-serif
        color rgb(25, 25, 25);

 }

.topbar {
  background: #0a2a6c;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.bar{
   background-color: white;
   color: black;
   display: flex;
   justify-content: center;
}
.searchbar{
   margin-left: 30px;
   padding: 0 15px;
   padding-right: 5px;
   width: 250px;
   height: 30px;
   margin-top: 28px;
   border-radius: 18px;
   border: 1px solid;
   background-color: #f2f2f2;
}

.bdiwear-header{
   width: 100px;
   height: 100px;
}
.icon-header{
   width: 30px;
   height: 30px;
   padding-top: 25px;
   margin-left: 40px;
}
.logo-shop{
   width: 30px;
   height: 30px;
   margin-top: 25px;
   padding-left: 40px;
}
 h1,h2,h3{
    color: rgb(125, 48, 212);
    border-left: 10px solid rgb(125, 48, 212);
    padding-left: 15px;
    font-weight: normal;
    margin-bottom: 50px;
 }

 main ul {
    list-style-type: none;
    padding-left: O;
 }

 main ul li:not(:last-child){
    border-bottom: 1px solid rgb(125, 48, 212);
    padding: 5px 0;
 }

 main ul li {
    padding: 5px 0;
 }

 main ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(125, 48, 212);
 }