 body {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(25, 25, 25);

 }
.container{
    max-width: 1000px;
    margin: auto;
}
.topbar {
  background: #0a2a6c;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.picto{
   width: 25px;
   height: 25px;
   padding-top: 25px;
   margin-left: 40px;
}
.bar{
   background-color: white;
   color: black;
   display: flex;
   justify-content: center;
}
.searchbar{
   margin-left: 30px;
   padding: 0 15px;
   padding-right: 5px;
   width: 250px;
   height: 30px;
   margin-top: 28px;
   border-radius: 18px;
   border: 1px solid;
   background-color: #f2f2f2;
   margin-right: auto;
}

.bdiwear-header{
   width: 100px;
   height: 100px;
}
nav ul {
    text-align: center;
    background-color: rgb(39, 39, 39);
    border-bottom: 5px solid purple;
    font-size: 1.5rem;
}
nav ul li:last-child {
   border-right: 1px solid white;
   border-left: 1px solid white;
   
}
nav ul li:first-child {
   border-left: 1px solid white;
   
}
nav ul li {
    display: inline-block;  
}
nav ul li:nth-child(2){
   border-left: 1px solid white ;
}
nav ul li:nth-child(3){
   border-left: 1px solid white ;
}
nav ul li a{
    padding: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

a:hover{
   color: #0a2a6c;
}
 h1,h2,h3{
    color: rgb(125, 48, 212);
    border-left: 10px solid rgb(125, 48, 212);
    padding-left: 15px;
    font-weight: normal;
    margin-bottom: 50px;
 }

 section main ul {
    list-style-type: none;
    padding-left: O;
 }

 section main ul li:not(:last-child){
    border-bottom: 1px solid rgb(125, 48, 212);
    padding: 5px 0;
 }

 section main ul li {
    padding: 5px 0;
 }

 section main ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(125, 48, 212);
 }

 .bandeau{
   background-image: url(../image/portrait-d-amis-adolescents-etant-cool.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 footer{
      background-color: rgb(44, 44, 44);
      color: white;
 }
.bdiwear-footer{
   margin-right: 30px;
}
 .contact{
   padding-left: 20px;
   text-align: center;
 }

 .horraires{
   margin-left: 30px;
   }